<h3 class="py-2 mb-4 text-center">Wishlist</h3>
<section class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-2">
    <div class="col">
        <div class="card border-0 h-100">
            <img src="https://ik.imagekit.io/thestylist/tt/pub/media_tt/catalog/product/f/a/FA-AWU-MLT-SK-1-CW-121_1.jpg/tr:w-395,h-600"
                class="card-img-top" alt="...">
            <div class="card-img-overlay p-0">
                <button type="button" class="btn btn-link float-end p-0 ">
                    <img src="./assets/icons/header/wishlist.svg" alt="Wishlist" />
                </button>
            </div>
            <div class="card-body p-0">
                <h6 class="card-title">ahchadb qhfdqihfblu</h6>
                <small class="card-text">MRP 20000</small>
            </div>
            <div class="card-footer bg-white p-0">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</section>