.good{
    max-height: 550px;
    overflow-y: scroll; /* Show vertical scrollbar */
}
.test{
    max-height: 140px;
}
.test-2{
    width: auto;
    max-height: 550px;
}
.carousel-control-next, .carousel-control-prev{
    width: auto;
}