<!--Section Content Start-->
<section class="text-center">

    <!-- Heading Start-->
    <h2>- Our Mission -</h2>
    <!-- Heading End-->
    <!-- Paragraph Start-->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt impedit</p>
    <!-- Paragraph End-->

    <!-- Heading Start-->
    <h3 class="py-2 mb-4">About us</h3>
    <!-- Heading End-->
    <!-- Grid row Start-->
    <article class="row">
        <!-- Grid Figure column Start-->
        <figure class="col-md-5">
            <img class="img-fluid rounded z-depth-2" src="./assets/images/about-us/AboutUS.jpg" alt="AboutUS" />
        </figure>
        <!-- Grid Figure column End-->
        <!-- Grid Paragraph column Start-->
        <div class="col-md-7 text-md-start">
            <p class="mt-4 mt-md-0">
                From an early age, JITAN KAUR knew she wanted her own fashion brand. Established in 2020. Her designs
                are a unique blend of contemporary and minimalistic and wants to bring individualistic design elements
                in everyday wear. JITAN KAUR offers ready to wear ethic, western, diffusion clothing. All lines are
                manufactured in house using ETHICAL TRADE PRACTICES, at JITAN KAUR.
            </p>
        </div>
        <!-- Grid Paragraph column Start-->
    </article>
    <!-- Grid Paragraph column End-->

</section>
<!--Section Content End-->